@media screen and (max-width:576px) {
    html,body{
        overflow-x: hidden;
    }
    #hamburger-menu{
        display: block;
    }
    
    #cart{
        display: block;
    }

    .nav-options{
        display: none;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-img{
        width: 100%;
    }

    .banner-content{
        width:100%;
        align-items: center;
        text-align: center;
    }

    .banner-content h1{
        font-size: 32px;
        margin-top: 20px;
    }

    .logo-container{
        flex-wrap: wrap;
        gap: 20px;
    }

    .collection-items{
        grid-template-columns: repeat(1,1fr);
    }

    .f-product-container{
        flex-direction: column-reverse;  
    }

    .f-product-img,.f-product-img img{
        width: 100%;
    }


    .f-product-content{
        width: 100%;
        align-items: center;
        margin-bottom: 20px;
    }


}